.add-project-container,
.add-task-container,
.update-task-container {
  position: fixed;
  left: 600px;
  top: 150px;
  width: 30vw; 
  overflow: auto;
  padding: 30px 70px 50px;
  z-index: 1;
  box-shadow: 
    rgba(0, 0, 0, 0.15) 0px 3px 5px,
    rgba(0, 0, 0, 0.15) 0px -3px 5px;
  display: none;
  background-color: white;
}

.add-task-container,
.update-task-container {
  top: 20px;
  padding: 10px 70px 0;
}

.display {
  display: block;
}

.add-project-container h2,
.add-task-container h2,
.update-task-container h2 {
  text-align: center;
}

.input-project-name {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-project-name input,
.input-task-title input,
.input-task-due input,
.input-task-description textarea,
.input-task-priority select,
.input-task-project select,
.input-update-task-title input,
.input-update-task-due input,
.input-update-task-description textarea,
.input-update-task-priority select,
.input-update-task-project select {
  padding: 10px;
  font-size: 16px;
}

.input-project-name input:invalid,
.input-task-title input:invalid,
.input-task-due input:invalid,
.input-update-task-title input:invalid,
.input-update-task-due input:invalid {
  border: 2px solid red;
}

.input-project-name input:focus,
.input-task-title input:focus,
.input-task-due input:focus,
.input-update-task-title input:focus,
.input-update-task-due input:focus {
  border: 2px solid blue;
  outline: none;
}


.input-project-name input:valid,
.input-task-title input:valid,
.input-task-due input:valid,
.input-update-task-title input:valid,
.input-update-task-due input:valid {
  border: 2px solid green;
  outline: none;
}


.input-project-color {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.input-project-color input {
  border: none;
  padding: 0;
}

label {
  font-weight: bold;
}

.project-button-container {
  display: flex;
  justify-content: space-between;
}

.create-project-button,
.create-task-button,
.cancel-project-button,
.cancel-task-button,
.update-task-button,
.cancel-update-task-button {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
}

.create-project-button:hover,
.create-task-button:hover,
.cancel-project-button:hover,
.cancel-task-button:hover,
.update-task-button:hover,
.cancel-update-task-button:hover {
  opacity: 0.7;
}

.create-project-button,
.create-task-button,
.update-task-button {
  background-color: gold;
}

.cancel-project-button,
.cancel-task-button,
.cancel-update-task-button {
  background-color: red;
  color: white;
}

.high-priority {
  color: red;
}

.medium-priority {
  color: orange;
}

.low-priority {
  color: lightskyblue;
}

#add-task-form div,
#update-task-form div {
  display: flex;
  flex-direction: column; 
  gap: 5px;
  margin-bottom: 20px;
}

.input-task-description textarea,
.input-update-task-description textarea {
  resize: none;
}

.add-task-container,
.update-task-container {
  padding-bottom: 20px;
}

#add-task-form .task-button-container,
#update-task-form .update-task-button-container {
  margin-bottom: 10px;
  margin-top: 20px;
}