@font-face {
  font-family: "todoFont";
  src: 
    url(../fonts/ReadyforFall.woff) format("woff"),
    url(../fonts/ReadyforFall.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: "todoFont", sans-serif;
}

.container {
  margin: 0;
  margin-left: 300px;
}