.more img {
  width: 30px;
}

h1 {
  margin: 0;
  margin-top: 20px;
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  column-gap: 20px;
  padding: 20px;
}

.task-card {
  box-shadow: 
    rgba(0, 0, 0, 0.15) 0px 3px 5px,
    rgba(0, 0, 0, 0.15) 0px -3px 5px;
  padding: 10px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.complete {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  border: 1px solid black;
  cursor: pointer;
}