.sidebar {
  top: 0;
  left: 0;
  bottom: 0;
  position: fixed;
  width: 300px;
  background-color: gold;
  z-index: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
}

.row {
  display: grid;
  grid-template-columns: 50px 1fr;
  column-gap: 10px;
  align-items: center;
}

.projects {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.right-side {
  display: flex;
  align-items: center;
  gap: 10px;
}

.add-project {
  width: 25px;
}

.toggle-project {
  width: 30px;
}

.sidebar div {
  cursor: pointer;
}

.icon-container,
.logo img {
  width: 50px;
}

.sidebar *:hover {
  opacity: 0.8;
}

.row:hover,
.project-name:hover {
  background-color: white;
}

.add-project img:hover {
  border: 2px solid black;
  border-radius: 25px;
}

.project-name {
  margin-left: 10px;
  width: 150px;
  word-wrap: break-word;
}

.today.icon-container {
  position: relative;
}

.date {
  position: absolute;
  top: 20px;
  left: 17px;
}

.view-projects {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.project-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.edit-project-container img,
.delete-project-container img {
  width: 20px;
  cursor: pointer;
}

.choose {
  background-color: white;
}